<div class="p-d-flex d-app-1">
    <div class="d-float-person-1"><img src="./assets/pokemon_person_1.png" alt="" srcset=""></div>
    <div class="d-float-ball">
        <div class="d-wsp-pulse" style="border-color:#ff0000;"></div>
        <div>
            <img src="./assets/pokemon_ball_1.png" alt="" srcset="">
        </div>
    </div>
    <div class="d-cta">
        <button class="primary-button" routerLink="/pokemon">Empezar</button>
        <div class="d-karol">
            Prueba Front:
            <br />
            Karol Del Nogal
        </div>
    </div>
  </div>